<mat-toolbar *ngIf="user?.loggedIn === true" id="toolbar" color="primary">
  <button class="app-bar-button" (click)="sidenav.toggle()" id="app-menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav *ngIf="user?.loggedIn === true" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <mat-nav-list style="padding-top: 0px;">
      <div *ngFor="let option of menuOptions">
        <!-- <section class="menu-section" [routerLink]="option.route"> -->
        <!-- <a mat-list-item (click)="toggleMenu(option)" [routerLink]="option.route"> -->
        <a class="menu-section" (click)="toggleMenu(option)">
          <mat-icon color="primary" style="margin: 5px;">{{option.matIcon}}</mat-icon>
          <span>{{option.label}}</span>
          <div *ngIf="option.submenus.length>0">
            <mat-icon *ngIf="!option.expanded">chevron_right</mat-icon>
            <mat-icon *ngIf="option.expanded">expand_more</mat-icon>
          </div>
        </a>
        <mat-nav-list *ngIf="option.expanded" style="padding-top: 0;">
          <div *ngFor="let sub of option.submenus">
            <a class="sub-menu-section" [routerLink]="sub.route">
              <mat-icon color="primary" style="margin: 5px;">{{sub.matIcon}}</mat-icon>
              <span>{{sub.label}}</span>
            </a>
          </div>
        </mat-nav-list>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>